.game-div {
    width: 285px;
    height: 245px;

    border-radius: 12px;

    background-size: cover;
    background-position: center;

    cursor: pointer;
}

@media screen and (max-width: 1134px){
    .game-div {
        width: 273px;
    }
}

@media screen and (max-width: 1024px) {
    .game-div {
        width: 274px;
    }
}

@media screen and (max-width: 844px) {
    .game-div {
        width: 322px;
    }
}

@media screen and (max-width: 568px) {
    .game-div {
        width: 254px;
    }
}

@media screen and (max-width: 391px) {
    .game-div {
        width: 357px;
    }
}

@media screen and (max-width: 321px) {
    .game-div {
        width: 280px;
    }
}
