.dropdown-wrapper {
    display: flex;
    flex-direction: column;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 12px 16px;

    border-radius: 6px;
    border: 1px solid #383E43;

    cursor: pointer;
}

.dropdown-options-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: white;
    border-radius: 6px;

    z-index: 100;
}

.dropdown-label {
    color: #8B8F93;
    cursor: pointer;
}

.dropdown-value {
    color: white;
    cursor: pointer;
}

.dropdown-image {
    color: #8B8F93;
    cursor: pointer;
}

.dropdown:hover {
    background-color: #1A1C1D;
}