.search-input {
    display: flex;
    gap: 8px;

    width: 280px;

    background-color: #45494c;
    border-radius: 6px;

    padding: 12px;
}

.search-input > input {
    font-size: 16px;
    font-weight: 400;

    color: #8B8F93;
    background-color: #45494c;
    border: none;
}

.search-input > input:focus {
    outline: none;
}

.search-small {
    display: none;
}

@media screen and (max-width: 1134px) {
    .search-input {
        width: 180px;
    }

    .search-big {
        display: none;
    }

    .search-small {
        display: flex;
        width: 132px;
    }
}

@media screen and (max-width: 568px) {
    .search-input {
        width: 437px;
    }
}

@media screen and (max-width: 391px) {
    .search-input {
        width: 267px;
    }
}


@media screen and (max-width: 321px) {
    .search-input {
        width: 189px;
    }
}