.filter-more {
    display: flex;
    gap: 4px;

    padding: 12px 16px;
    border-radius: 6px;

    color: white;
    background-color: #292C2F;

    cursor: pointer;
}

.filter-more > label {
    font-weight: 400;
    font-size: 16px;

    cursor: pointer;
}

.filter-more:hover {
    background-color: #1A1C1D;
}

.filter-more.active {
    background-color: #00C471;
}