.filter-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;

    width: 1200px;
    height: 56px;

    padding: 8px;

    background-color: #292C2F;
    border-radius: 12px;

    max-width: 96vw;
}

/*Those 2 have the same styling, check out SASS to make your code simpler */
.filter-contents-left {
    display: flex;
    gap: 4px;
}

.filter-contents-right {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.filter-contents-right-small {
    display: none;
    justify-content: flex-end;
    gap: 4px;
}

.filter-contents-left-small {
    display: none;
}

/* Split filter styles */

.filter-wrapper-split {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    width: 528px;
    max-width: 96vw;
}

.filter-wrapper-split-top {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 8px;

    background-color: #292C2F;
    border-radius: 12px;
}

.filter-wrapper-split-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    gap: 4px;

    padding: 8px;

    background-color: #292C2F;
    border-radius: 12px;
}

@media screen and (max-width: 1242px) {
    .filter-contents-left {
        display: none;
    }

    .filter-contents-left-small {
        display: flex;
    }
}

@media screen and (max-width: 1134px){
    .filter-wrapper {
        width: 861px;
    }
}

@media screen and (max-width: 1024px){
    .filter-wrapper {
        width: 864px;
    }
}

@media screen and (max-width: 844px){
    .filter-wrapper {
        width: 664px;
    }

    .filter-contents-right {
        display: none;
    }

    .filter-contents-right-small {
        display: flex;
    }
}

@media screen and (max-width: 692px){
    .filter-wrapper {
        display: none;
    }

    .filter-wrapper-split {
        display: flex;
    }
}

@media screen and (max-width: 391px) {
    .filter-wrapper-split{
        width: 357px;
    }
}

@media screen and (max-width: 321px) {
    .filter-wrapper-split{
        width: 280px;
    }
}
