.games-container {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    width: 1200px;
}

@media screen and (max-width: 1134px){
    .games-container {
        width: 861px;
    }
}

@media screen and (max-width: 1024px) {
    .games-container {
        width: 864px;
    }
}

@media screen and (max-width: 844px) {
    .games-container {
        width: 664px;
    }
}